body {
	background-color: #000 !important;
	margin: 0 auto;
	margin-bottom: 100px;
}

#dk {
	text-align: center;
	color: white;
	margin: 0 auto;
	padding: 75px 0 75px 0;
	font-family: 'Lato', sans-serif;
	font-size: 3.5em;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
	letter-spacing: .1em;
	text-transform: uppercase;
}

#date {
	text-align: center;
	color: white;
	margin: 0 auto;
	padding: 50px 0 75px 0;
	font-family: 'Lato', sans-serif;
	font-size: 1.7em;
	letter-spacing: .1em;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#dkbheader {
	width: 100%;
	height: 1000px;
	margin-bottom: 10px;
	background: url(images/thumbs/sky.png) no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#instructions {
	margin: auto;
}

#down {
	width: 150px;
	height: 75px;
/*	margin: 0 auto;*/
/*	text-align: center;*/
	display: block;
  margin: 150px auto 75px auto;
 	background-color: rgba(0,0,0, 0.2);
 	border-radius: 150px;
}

#scroll {
	margin-top: 100px;
	font-family: 'Lato', sans-serif;
	font-size: 1.2em;
	text-align: center;
	color: #fff;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
